.app-wrapper {
    display: grid;

    grid-template-areas: "header header" "navbar content";
    grid-template-rows: 40px 897px;
    grid-template-columns: 2fr 20fr;

}

.header {
    grid-area: header;
    background-color: beige;
}

.header img {
    width: 40px;
}

.navbar {
    grid-area: navbar;
    background-color: blanchedalmond;
}

.content {
    grid-area: content;
    background-color: blueviolet;
}

.content img {
    width: 1858px;
    height: 873px;
}